*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}

.container{
    width: 100vw;
    height:100vh;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    background-color: aliceblue;
    border-radius: 20px;
    height: 500px;
    width: 300px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    /* margin: 12px; */
    padding: 10px;
    align-items: center;
    gap:20px;
}
.box img{
    height: 57%;
    width: 90%;
    border-radius: 10px;
}