    body{
        background-image: url(https://img.freepik.com/premium-vector/network-connection-background-abstract-style_23-2148875738.jpg);
         background-repeat: no-repeat;
            background-size:100% 100%;
    }
    .container{
        display: flex;
        justify-content: space-between;
        margin: 40px;
    }
    h1{
      margin-top: 0px;
      font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
    }
    #form {
        background-color: rgb(244, 213, 182);
        border: 2px solid black;
        border-radius: 10px;
        height: 600px;
        width: 400px;
        text-align: center;
        padding-top: 60px;
        /* margin: 50px auto;  box ko center me lene ke liye  */
        
      }
      span{
        color: red;
      }
      /* submit button */
      #submitt{
        background-color: rgb(102, 102, 238);
        border: 2px solid black;
        border-radius: 10px;
        padding: 5px;
        width: 120px;
      }
      label{
        font-size: large;
      }
      input{
        border: 2px solid black;
        border-radius: 10px;
        padding: 3px;
        width: 220px;
      }
      table{
        height: 300px;
        width: 400px;
        color: rgb(1, 12, 22);
        border: 2px solid blanchedalmond;
        background-color: aquamarine;
      }